asttokens==2.2.1
backcall==0.2.0
decorator==5.1.1
executing==1.2.0
future==0.18.3
ipython==8.9.0
jedi==0.18.2
matplotlib-inline==0.1.6
numpy==1.24.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
pyreadline==2.1
pyserial==3.5
PySide2==5.15.2.1
pyusb==1.2.1
shiboken2==5.15.2.1
six==1.16.0
stack-data==0.6.2
traitlets==5.9.0
wcwidth==0.2.6
